<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tzx.githubclient" >
    <application>
        <activity android:name=".main.activity.GithubLoginActivity"/>
        <activity android:name=".main.activity.GithubRepoListActivity"/>
        <activity android:name=".main.activity.GithubUserInfoActivity"/>
    </application>
</manifest>